/* whole page */

body {
  padding:0px;
  margin:0px;
}

/* svg (main display)*/

#svgHolder {
  margin-left:5px;
}

.background {
  pointer-events: all;
}

.node:hover,.node:hover  *{
   opacity: 1;
   clip-path:none;
}
.metabolite.frozen circle, .reaction.frozen path {
   stroke:#AFA;
   stroke-width:2px;
}

.node:hover .highlightBG, .hoverStyle .highlightBG, .highlight .highlightBG{
   opacity:0.2 ;
}

.metabolite:hover circle,  .reaction:hover path, .metabolite.highlight:hover circle, .reaction.highlight:hover path, 
  .metabolite.hoverStyle circle,  .hoverStyle path{
   stroke:yellow ;
   stroke-width:8px;
}  
.metabolite.highlight circle,  .highlight path {
   stroke:orange ;
   stroke-width:8px;
}
.node.highlight {
   opacity:1;   
}

rect.background {
  fill:#FFF8F2 !important;
}
/* title bar */

#header {
  height:40px;
  background-color:#fff;
  margin:0px;
   margin:5px;
   margin-bottom:0px;
   text-align:center;
}
#header img {
   display:inline;
   height:40px;
   vertical-align:bottom;
}
#title {
   font-family:sans;
   font-size:200%;
}
#header .right {
   display:block;
   height:40px;
   float:right;
}

h3 img {
   margin-right:5px;
   vertical-align:bottom;
}

/* menu buttons */

#menuBar {
  position:absolute;
  right:10px;
  top:5px;
  width:400px;
  height:40px;
  background-color:#ffffEE;
}
#menuBar span {
   
  background-color:#eec; 
  display:block;
  float:left;
  cursor:pointer; 
  padding:5px;
  margin:2px 6px;
  width:30px;
  border-radius: 3px;
  border:1px solid #ffffEE;
  background-color:#ffffEE;
}

#menuBar span.active {  
  border:1px solid #ccc;
  background-color:#FFF;
}
#menuBar span:hover {
  border:1px solid #ccc;
  background-color:#F2F7F7;
}

/* options box */

#options>div {
  display:none;
}
#options {
   position:fixed;
   right:10px;
   top:45px;
   bottom:5px;
   background-color:#ffffEE;
  /* max-height:200;*/
   overflow:auto;
   width:400px;
   max-width:400px;   
   padding-bottom:10px;
}
#options.reduced {
	bottom:205px;
}
#options:hover {
   opacity:1;   
}

#allMenu:hover #options {
   opacity:1;   
}
/* Extra tooltips box */
#viewFixedData {
	display:none;
	position:fixed;
	right:10px;
	width:392px;
	bottom:5px;
	height:192px;
	overflow:auto;	
   background-color:#F8F8F8;
	font:0.9em sans-serif;
	padding:2px;
	border:2px solid orange;
}

/* close buttons */

#closeOptions {
  width:10px;
  padding:5px 8px;
  cursor:pointer;
  border:1px solid #9a8;
  border-radius: 3px;
  /*position:absolute;
  right:0px;
  */
  float:right;
  font-family:Tahoma, Geneva, sans, sans-serif;
  background-color:#D2D7C1;
  display:block!important;
}

#closeFixedData {
  width:10px;
  padding:5px 8px;
  cursor:pointer;
  border:1px solid #9a8;
  border-radius: 3px;
  position:absolute;
  right:0px;
  font-family:Tahoma, Geneva, sans, sans-serif;
  background-color:#D2D7C1;
  display:block!important;
}
/* Pathway box */

.showSystem {
   position:relative;
   background-color:#fff;
   border:3px solid #444;
   width:375px;
}
.showSystem:hover {
   border:3px solid yellow;
}
.showSystem.hoverStyle {
   border:3px solid orange;

}
.showSystem div{
   padding:2px;
   cursor:pointer;
   color:white;
   display:block;
   width:340px;
}

.showSystem input{
   cursor:pointer;
   position:absolute;
   top:3px;
   right:3px;
}

.ssButton {
	cursor:pointer;
	float:right;
	border-radius:3px;
	margin:1px;
	padding:2px;
	foont-style:italic;
	background-color:#ccc;
	border:1px solid #aaa;
	
}


.groupBox {
   cursor:pointer;
	border-radius:3px;
	border:1px solid #aaa;
   background-color:#FFF;
   margin:2px;
}

.groupBox:hover {
  background-color:#F2F7F7;
}

/* infobox (bottom left) */
#viewDataDown {
  position:fixed;
  left:15px;
  bottom: 15px;
  background:white;
  opacity:0.85;   
  display:none;
}

/* Search box */
.searchResult {
  margin:4px;
  background-color:#FFE;
  cursor:pointer;
  opacity:0.5;
}
.searchResult.inFilter {
   opacity:1;
  border:1px solid #ccc;
  background-color:#FFF;
}

.searchResult .findName{
  font:bold  1em sans-serif;
}
.searchResult .findId{
  font: italic 0.8em sans-serif;
}
.searchResult .findExtra{
  font:italic 0.8em sans-serif;
  margin-left:auto;
  float:right;
 
}
.searchResult .findPath{
  font: 0.8em sans-serif;
  margin-left:auto;
  float:right;
  }
  .searchResult br{
  clear:both;
  }
  
/* demo tour */
#demoTour {
  display:none;
  position:fixed;
  left:10px;
  top: 50px;
  background:white;
  width: 500px;
  border: 1px solid #004;
  border-radius:5px;
  min-height:100px;
  font-family:Tahoma, Geneva, sans, sans-serif;
  font-size:130%;
  text-align:center;
  color:#004;
  padding:4px;
  box-shadow:4px 4px 4px #888;
 }
 #demoTour #demo1 {
   font-weight: bold;
   padding:4px ;
   margin-bottom:15px;
   color:#008;
   
 }
 #demoTour input.before {
  float:left;
 }
 #demoTour input:hover {
  opacity:1;
 }
 #demoTour input {
  opacity:0;
 }
 #demoTour input.after {
  float:right;
 }
 #demoTour img {
  position:absolute;
  padding:5px;
  left:0px;
 }
 #demoTour .info {
   font-size:0.8em;
   border-top:1px solid black;
   margin:8px;
 }
  
.warning {
   display:none;
   position:absolute;
}
