
#nav {
   margin:0;
   padding:0;
}
 
#nav li {
    background: #c00 ;
	color: #fff ;
	border: 10px solid #c00 ;
    padding:0;
    margin:0;
    display:inline;
    }
#nav a {
	background: #c00 ;
	color: #fff ;
	font: 1em "Trebuchet MS",Arial,sans-serif ;
	padding: 10px 10px ;
	text-align: center ;
    padding: 10px 10px ;
    width:800px;
	text-decoration: none ;
	}
#nav li a:hover, #nav li a:focus, #nav li a:active {
	background: #900 ;
	text-decoration: underline ;
	}
 h1   {color:#007;
    font-size:24px;
    /*background-color:#AAC;*/
    padding: 20px 20px 20px 12px;
    width:800px;
    margin: 10px auto;
    text-align:center;
    }
body{
    text-align:justify;
    }
div.box {
    text-align:center;
    width:800px; 
    margin: 10px auto;
    padding:10px;
    clear:both;
    }
 h2 {
    font-size:18px;
    margin: 10px 0;
    background-color:#FA9BA4;
    padding: 4px 4px 4px 8px;
    box-shadow: 10px 10px 5px #888888;
    }
.box div {
    padding:10px;
    margin: 10px 0;
    background-color:#EEF;
    width:800px; 
    } 
 h3 {
    font-size:15px;
    margin: 10px 0;
    }
    
#conteneur{
	
	}

#contenu {
 margin-left:auto;
 margin-right:auto;
 width:1000px;
 position:relative;
 }
#contenu p {
 text-align:justify;
 }
    
    
#hd, #bd, #bg, #hg {
 background-repeat:no-repeat;
 }
#hd {
    margin: 5px;
    float:right;
 }
#bd {
    margin: 5px;
    float:right;
 }
#bg {
    margin: 5px;
    float:left;
 }

 #hg {
    margin: 5px;
    float:left;
    
 }


#colonne1{
   width:500px; 
   height:200px; 
   float:left;
}
 
#colonne2{
   width:500px; 
   height:200px; 
   float:right;
}
  
